<% content_for :head do -%>
  <%= stylesheet_link_tag 'static_pages.css' %>
<% end %>

<section class="fold">
  <div class="container">

    <div class="home-page-form">
      <h1 class="home-page">
        AN IMMERSIVE REPORTING TOOL <br />FOR SOCIAL CHANGE
      </h1>
      <br />
      <h3 class="home-page-top">
        Engage your audience through rich photostories embedded with useful information.
      </h3>
    </div>

  </div>
</section>

<section class="features">
  <div class="container">
    <div class="heading-block">
      <h2 class="home-page">Features</h2>
    </div>
    <div class="spacer">
    </div>
    <div class="feature-heading">
      <h1>Ease of use that gets you up and running in minutes.<br /><br />
        Rich information for the most complex and nuanced reporting.
      </h1>
    </div>

    <div class="spacer">
    </div>

    <div class="feature-row">
      <div class="feature-block">
        Create and see team-based stories, events, tasks, indicator measurements
      </div>
      <div class="feature-block dotted-right">
        <div class="feature-image">
          <%= image_tag("icons/List.png", alt: "List") %>
        </div>
      </div>
      <div class="feature-block">
        <div class="feature-image">
          <%= image_tag("icons/Gear.png", alt: "Gear") %>
        </div>
      </div>
      <div class="feature-block">
        Create your own statuses, priority levels, event types, story domains, indicators
      </div>
      <div class="clear"></div>
    </div>
    <div class="feature-row">
      <div class="feature-block even">
        <div class="feature-image">
          <%= image_tag("icons/Person.png", alt: "Person") %>
        </div>
      </div>
      <div class="feature-block even">
        Create functional teams and allocate users to multiple teams
      </div>
      <div class="feature-block even">
        Use images as the conerstone of your reporting.
      </div>
      <div class="feature-block even">
        <div class="feature-image">
          <%= image_tag("icons/Camera.png", alt: "Camera") %>
        </div>
      </div>
      <div class="clear"></div>
    <div>
    <div class="feature-row">
      <div class="feature-block">
        Automatic geolocation of reporting items
      </div>
      <div class="feature-block dotted-right">
        <div class="feature-image">
          <div class="feature-image">
            <%= image_tag("icons/Marker.png", alt: "Marker") %>
          </div>
        </div>
      </div>
      <div class="feature-block">
        <div class="feature-image">
          <%= image_tag("icons/Email.png", alt: "Email") %>
        </div>
      </div>
      <div class="feature-block">
        Email notifications on item creation and on approaching deadlines (for tasks)
      </div>
      <div class="clear"></div>
    </div>
    <div class="feature-row">
      <div class="feature-block even">
        <div class="feature-image">
          <%= image_tag("icons/MobilePhone.png", alt: "Mobile") %>
        </div>
      </div>
      <div class="feature-block even">
        Layouts designed for tablets and mobile phones
      </div>
      <div class="feature-block even">
        Import kml files with geolocated features for each team
      </div>
      <div class="feature-block even">
        <div class="feature-image">
          <%= image_tag("icons/Globe.png", alt: "Globe") %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="feature-row">
      <div class="feature-block">
        Dynamic text recognition and theme identification to label your images (coming soon)
      </div>
      <div class="feature-block dotted-right">
        <div class="feature-image">
          <%= image_tag("icons/Sms.png", alt: "Sms") %>
        </div>
      </div>
      <div class="feature-block">
        <div class="feature-image">
            <%= image_tag("icons/BasicPhone.png", alt: "BasicPhone") %>
        </div>
      </div>
      <div class="feature-block">
        SMS Notifications to team members (coming soon)
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<% content_for :footer  do %>
  Image &copy; <a href="https://www.flickr.com/photos/128539140@N03/">Jake Stimpson</a>
<% end %>



