<% content_for :head do -%>
  <%= stylesheet_link_tag 'static_pages.css' %>
<% end %>

<section class="fold container">

  <div class="spacer">
  </div>

  <div class="home-page-form drop-shadow">
    <h1 class="home-page">
      SEE YOUR ORGANISATION PERFORMING
    </h1>
    <br />
    <h3 class="home-page-top">
      Incivent is a sofware platform for managing field teams and roaming workers.<br/>
      We save you time and effort, simple as that.
    </h3>
  </div>

  <div class="spacer">
  </div>

  <div class="photo-mosaic">
    <div class="photo-main">
      <%= image_tag("FrontPage.png", :alt => "Photo", :class => "photo") %>
    </div>
  </div>

  <div class="spacer">
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="heading-block">
      <h2 class="home-page">Features</h2>
    </div>

    <div class="spacer">
    </div>

    <div class="feature-heading">
      <h1>Incivent is a web and mobile tool used to manage and report the "on the ground" operations reality through tasks, messages and events.</h1>
    </div>

    <div class="spacer">
    </div>

    <div class="feature-row">
      <div class="feature-block">
        Create functional groups and allocate users to multiple groups
      </div>
      <div class="feature-block dotted-right">
        <div class="feature-image">
          <%= image_tag("icons/Person.png", :alt => "Person") %>
        </div>
      </div>
      <div class="feature-block">
        <div class="feature-image">
          <%= image_tag("icons/Gear.png", :alt => "Gear") %>
        </div>
      </div>
      <div class="feature-block">
        Create your own types, statuses and priority levels for tasks and events
      </div>
      <div class="clear"></div>
    </div>
    <div class="feature-row">
      <div class="feature-block even">
        <div class="feature-image">
          <%= image_tag("icons/List.png", :alt => "List") %>
        </div>
      </div>
      <div class="feature-block even">
        All users can create and see group-based messages, events and tasks
      </div>
      <div class="feature-block even">
        Import kml files with geolocated features for each group
      </div>
      <div class="feature-block even">
        <div class="feature-image">
          <%= image_tag("icons/Globe.png", :alt => "Globe") %>
        </div>
      </div>
      <div class="clear"></div>
    <div>
    <div class="feature-row">
      <div class="feature-block">
        Automatic geolocation of messages, events and tasks based on a simple 'location' field
      </div>
      <div class="feature-block dotted-right">
        <div class="feature-image">
          <div class="feature-image">
            <%= image_tag("icons/Marker.png", :alt => "Marker") %>
          </div>
        </div>
      </div>
      <div class="feature-block">
        <div class="feature-image">
          <%= image_tag("icons/Email.png", :alt => "Email") %>
        </div>
      </div>
      <div class="feature-block">
        Email notifications on item creation and on approaching deadlines (for tasks)
      </div>
      <div class="clear"></div>
    </div>
    <div class="feature-row">
      <div class="feature-block even">
        <div class="feature-image">
          <%= image_tag("icons/MobilePhone.png", :alt => "Mobile") %>
        </div>
      </div>
      <div class="feature-block even">
        Layouts designed for tablets and mobile phones
      </div>
      <div class="feature-block even">
        Attach photos to both events and tasks
      </div>
      <div class="feature-block even">
        <div class="feature-image">
          <%= image_tag("icons/Camera.png", :alt => "Camera") %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="feature-row">
      <div class="feature-block">
        SMS-in functionality for both events and messages in a simple format (coming soon)
      </div>
      <div class="feature-block dotted-right">
        <div class="feature-image">
          <%= image_tag("icons/Sms.png", :alt => "Sms") %>
        </div>
      </div>
      <div class="feature-block">
        <div class="feature-image">
            <%= image_tag("icons/BasicPhone.png", :alt => "BasicPhone") %>
        </div>
      </div>
      <div class="feature-block">
        SMS Notifications to group members (coming soon)
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>



