
<tr class="listing-item">
  <td class="listing-i-fm"><%= link_to message.description, message_path(message) %></td>
  <td><%= message.location %></td>
  <td><%= message.group.name %></td>
  <% if current_user?(user_locate_by_id(message.user_id)) %>
    <td>You</td>
  <% else %>
    <td><%= user_locate_by_id(message.user_id).full_name %></td>
  <% end %>
  <td><%= time_ago_in_words(message.created_at) %> ago</td>
  <% if current_user?(message.user) || current_user.master_user? %>
    <td class="listing-i-f"><%= link_to 'Edit', edit_message_path(message) %> | <%= link_to 'Delete', message, :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>
  <% end %>
</tr>

