<div class="index-wrapper">
  <div class="index-listing">
    <div class="item-table">
      <table>
        <tr class="listing-header">
          <td class="listing-i-i">Characteristic</td>
          <td>Value</td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Description:</td>
          <td><%= @incivent.description %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Raised by:</td>
          <% if current_user?(@incivent.user) %>
            <td>You</td>
          <% else %>
            <td><%= @incivent.user.full_name %></td>
          <% end %>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Raised:</td>
          <td><%= time_ago_in_words(@incivent.created_at) %> ago</td>
        </tr>

        <tr class="listing-item">
          <td class="listing-i-i">Priority:</td>
          <td><%= @incivent.priority.description %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Status:</td>
          <td><%= @incivent.status.description %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Type:</td>
          <td><%= @incivent.type.description %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Location:</td>
          <% if @incivent.location == "" %>
            <td>Unnamed Coordinates</td>
          <% else %>
            <td><%= @incivent.location %></td>
          <% end %>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Group:</td>
          <td><%= @incivent.group.name %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Coordinates - Latitude:</td>
          <td><%= @incivent.latitude %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Coordinates - Longitude:</td>
          <td><%= @incivent.longitude %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="index-item-image">
    <div class="general-form">
      <% if @incivent.incivent_image %>
        <a href="#"><strong>View Image</strong>
          <div>
            <%= image_tag @incivent.incivent_image.url(:medium), class: "photo" %>
          </div>
        </a>
      <% else %>
        <strong>No image attached</strong>
      <% end %>
    </div>
  </div>

</div>
