<div class="mt-item" data-task-name="<%= task.id %>">
  <div class="mt-name">
    <%= task.description %>
  </div>
  <div class="mt-info">
    <div class="mobile-form">
      <%= semantic_form_for task do |f| %>
        <%= f.inputs do %>
          <%= f.input :complete, as: :hidden, input_html: { value: true} %>
        <% end %>
        <%= f.actions do %>
          <%= f.action :submit, as: :button, label: 'Submit' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



