<%= javascript 'tasks' %>

<div class="spacer">
</div>

<div class="heading-block">
  <h2>Add Tasks in Bulk for Group: <%= @group.name %></h2>
</div>

<div class="spacer">
</div>

<div class="general-form">
    <%= semantic_form_for @group, :method => :post, :url => bulk_create_tasks_path(:group_id => @group.id) do |f| %>
      <%= f.inputs do %>
        <table class="tasks-table">
          <tr>
            <td>Description</td>
            <td>Priority</td>
            <td>Status</td>
            <td>Location</td>
            <td>Assigned to</td>
            <td>Due Date</td>
          </tr>
          <%= f.semantic_fields_for :tasks do |task| %>
            <tr class="task-form-row">
              <% if task.object.new_record? %>
                <%= task.input :raised_user_id, :as => :hidden %>
                <td><%= task.input :description, :as => :string, :label => false %></td>
                <td><%= task.input :priority, :collection => @account.priorities, :member_label => :description, :include_blank => false, :label => false %></td>
                <td><%= task.input :status, :collection => @account.statuses, :member_label => :description, :include_blank => false, :label => false %></td>
                <td><%= task.input :location, :label => false %></td>
                <td><%= task.input :user, :collection=> @account.users, :member_label => :full_name, :include_blank => false, :label => false %></td>
                <td><%= task.input :due_date, :as => :string, :label => false %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% end %>
      <%= f.buttons do %>
        <%= f.commit_button :label => "Submit" %>
      <% end %>
    <% end %>
  </td>
</div>
