
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      Incivent | The Dreaded 404
    </title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/include' %>
  </head>

  <body>

    <section class="header-wrapper">
      <%= render 'layouts/header' %>
    </section>
    
    <section class="errors">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </section>
    
    <section class="container"> 
      <div class="page">
        <h1>Oh dear... something went wrong!</h1>
        <p>The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.</p>
      </div>
    </section>
    
    <section class="footer-wrapper">
      <%= render 'layouts/footer_menu' %>
      <%= debug(params) if Rails.env.development? %>
    </section>

  </body>
</html>
