<div id="group-tabs-<%= group.id %>" class="group_tab">
  <div class="item-table">
    <table>
      <tr class="listing-header">
        <td class="listing-i-f">Name:</td>
        <td class="listing-i-fl">Description:</td>
        <td>Number of events</td>
        <td>Number of tasks</td>
        <td>Number of stories</td>
        <td>Number of ind. updates</td>
        <td class="listing-i-f">Actions</td>
      </tr>

      <tr class="listing-item">
        <td class="listing-i-f"><%= group.name %></td>
        <td class="listing-i-fl"><%= group.description %></td>
        <td><%= group.incivents.count %></td>
        <td><%= group.tasks.count %></td>
        <td><%= group.stories.count %></td>
        <td><%= group.measurements.count %></td>
        <% if current_user.master_user? %>
          <td class="listing-i-f"><%= link_to 'Edit', edit_group_path(group) %> |
          <%= link_to 'Delete', group, data: {confirm: 'Are you sure?'}, method: :delete %></td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="spacer">
  </div>

  <div class="heading-block-in group-section-link" data-group-section-id="dashboard">
    <h2>Dashboard</h2>
  </div>

  <div class="group-section" id="group-section-dashboard">
    <% if group.incivents.count == 0 && group.tasks.count == 0 && group.stories.count == 0 && group.measurements.count == 0 %>
      <div class="general-form">
        <p class="normal">There are no events, tasks or stories in this team.</p>
      </div>
    <% else %>
      <div id="google_map_section-<%= group.id %>" data-kml="<%= attachment_url(group.geo_info) %>" data-url="<%= group_feature_urls(group) %>" data-name="<%= group_feature_names(group) %>" data-lat="<%= group_lats(group) %>" data-long="<%= group_longs(group) %>">
      </div>
    <% end %>
  </div>

  <% unless group.updates.empty? %>

    <div class="spacer">
    </div>


    <div class="heading-block-in group-section-link" data-group-section-id="update-feed">
      <h2>Update feed</h2>
    </div>

    <div class="group-section" id="group-section-update-feed">
      <%= semantic_form_for :category do |f| %>
        <%= f.inputs do %>
          <%= f.input :group_object, label: "Select type ->", collection: ['Event', 'Task', 'Measurement', 'Story'], include_blank: true, required: false %>
        <% end %>
      <% end %>
      <%= render group.updates.order(created_at: :desc) %>
    </div>
  <% end %>

</div>