<div class="index-wrapper">
  <div class="index-listing">
    <div class="item-table">
      <table>
        <tr class="listing-header">
          <td class="listing-i-i">Characteristic</td>
          <td>Value</td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Description:</td>
          <td><%= @story.description %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Raised by:</td>
          <% if current_user?(@story.user) %>
            <td>You</td>
          <% else %>
            <td><%= @story.user.full_name %></td>
          <% end %>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Raised:</td>
          <td><%= time_ago_in_words(@story.created_at) %> ago</td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Location:</td>
          <% if @story.location == "" %>
            <td>Unnamed Coordinates</td>
          <% else %>
            <td><%= @story.location %></td>
          <% end %>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Group:</td>
          <td><%= @story.group.name %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Coordinates - Latitude:</td>
          <td><%= @story.latitude %></td>
        </tr>
        <tr class="listing-item">
          <td class="listing-i-i">Coordinates - Longitude:</td>
          <td><%= @story.longitude %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="index-item-image">
    <div class="general-form">
      <% if @story.image %>
        <a href="#"><strong>View Image</strong>
          <div>
            <%= image_tag @story.story_image.url(:medium), class: "photo" %>
          </div>
        </a>
      <% else %>
        <strong>No image attached</strong>
      <% end %>
    </div>
  </div>

</div>
