
<tr class="listing-item">
  <td class="listing-i-fm"><%= link_to story.description, story_path(story) %></td>
  <td><%= story.type.description if story.type %></td>
  <td><%= story.location %></td>
  <td><%= story.group.name %></td>
  <% if current_user?(user_locate_by_id(story.user_id)) %>
    <td>You</td>
  <% else %>
    <td><%= user_locate_by_id(story.user_id).full_name %></td>
  <% end %>
  <td><%= time_ago_in_words(story.created_at) %> ago</td>
  <% if story.story_image.url == '/story_images/original/missing.png' %>
    <td><%= image_tag 'missingThumb.png' %></td>
  <% else %>
    <td><%= image_tag story.story_image.url(:thumb) %></td>
  <% end %>
</tr>

