<div class="update-item" data-updatable-type="<%= update.updatable_type %>">
    <% if update.updatable.image %>
        <div class="update-image">
            <%= image_tag update.updatable.image.url(:medium), class: "feed" %>
        </div>
    <% end %>
    <div class="update-time">
        <%= time_tag update.created_at %>
    </div>
    <p>
        <h3><%= update.updatable_type.capitalize %></h3>
        <br />
        <strong><%= update.detail %></strong>
        <br>
        Location: <%= update.updatable.location %>
        <br />
        Created by: <%= update.updatable.user.full_name %>
        <% if update.updatable_type == 'Task' %>
            <br />
            Assigned to: <%= update.updatable.assigned_user.full_name %>
        <% end %>
    </p>
</div>