<div class="update-item" data-updatable-type="<%= update.updatable_type %>">
    <% if update.updatable.image %>
        <div class="update-image">
            <%= image_tag update.updatable.image.url(:medium), class: "feed" %>
        </div>
    <% end %>
    <div class="update-time">
        <%= time_tag update.created_at %>
    </div>
    <p>
        <h3><%= update.updatable_type.capitalize %></h3>
        <br />
        <%= update.detail %>
    </p>
</div>