<!DOCTYPE html>
<html>
  <head>
    <title>
      ImpactReady | Visualised Operations
    </title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'mobile' %>
    <%= javascript_include_tag 'mobile' %>
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee|Arimo:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <section class="mobile-notifications">
      <% flash.each do |key, value| %>
        <div class="flash_<%= key %>"><strong><%= value %></strong></div>
      <% end %>
    </section>

    <section class="mobile-header-wrapper">
      <div class="mobile-header-main">
        <div class="mobile-page-image">
            <%= image_tag("HeaderLogo.png", :alt => "Incivent") %>
        </div>
    </section>

    <section class="mobile-page">
      <%= yield %>
    </section>

  </body>
</html>